<%- include('block/header', { title: 'Home' }) -%>

  <h1>Welcome to <%= title %>
  </h1>
  <p>Lorem ipsum</p>
  <p>
    <%= lorem %>
  </p>

  Kontakta oss!
  <%- include('block/contact') -%>

    <%- include('block/footer') -%>