<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>

<body>
    <h1>Library</h1>
    <h2>
        <%= title %>
    </h2>

    <p>Genre: <% for (genre_item of genre) { %>
            <%= genre_item.name %>
                <% } %>
    </p>

    <p>Författare: <%= author.first_name %>
            <%= author.family_name %>
    </p>

    <p>Beskrivning:</p>
    <p>
        <%= summary %>
    </p>
</body>

</html>