<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link href="/public/style.css" rel="stylesheet">
</head>

<body>
    <h1>Todo</h1>

    <% if (tasks.length> 0) { %>
        <form method="post" action="/edit">
            <table id="tasklist">
                <tr>
                    <th>Id</th>
                    <th>Task</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                <% for (let task of tasks) { %>
                    <tr>
                        <td>
                            <%= task.id %>
                        </td>
                        <td data-id="<%= task.id %>">
                            <%= task.task %>
                        </td>
                        <td>
                            <%= task.done %>
                        </td>
                        <td>
                            <a href="/edit/<%= task.id %>">Edit</a>
                        </td>
                        <td>
                            <a href="/delete/<%= task.id %>">Remove</a>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </form>
        <% } %>

            <form method="post" action="/add">
                <input name="todo_item">
                <input type="submit" value="Save">
            </form>
            <script src="/public/script.js"></script>
</body>

</html>